@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-meow: "Meow Script", cursive; 
  --font-nunito: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* body{
  font-family: var(--font-nunito);
} */

/* Tailwind @layer components if you're using it */
.input-style {
  @apply border border-gray-300 p-3 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-[#5c1a00];
}
